Author: <input id="author" type="text" name="author" placeholder="author">
Title: <input id="title" type="text" name="title" placeholder="title">
Content: <input id="content" type="text" name="content" placeholder="content">
Photo: <input id="photo_url" type="text" name="photo_url" placeholder="Photo URL">
<button type="submit">Add</button>
