<!DOCTYPE html>
<html>
<head>
  <title>SuiteBlarghApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Suuiiittee Blllarrgghhh!!!</h1>
	<div id="form-section">
		<h2>Add Post</h2>
		<div id="form"></div>
	</div>
	<div id="posts-section">
		<h2>Posts</h2>
		<div id="posts"></div>
	</div
</body>
</html>
